.vscode/
davenv/
gallery-dl/
dataset/maked_tags/*.json
dataset/prompts/*.json
models/sdxl/base/*.safetensors
models/sdxl/controlnet/Canny/*.safetensors
models/sdxl/controlnet/openpose/*.safetensors
tag_maker/model/model-resnet_custom_v3.h5
tag_maker/model/tags.txt
*.ckpt
*.pt
*.pth
*.safetensors
outputs/
